.attendTest{
    display: flex;
    background-color: white;
    min-height:100vh;
    min-width:100vw;
}

.main_{
    display:flex;
    margin:2rem;
}

.askid{
    border:1px solid black;
    border-radius:16px;
    height:fit-content;
    width: fit-content;
    margin:50%;
}

.heading{
    font-size:large;
    color: #5BA4E7;
}

