#root{
    background-image: linear-gradient(to right,rgb(99, 165, 246),rgb(107, 250, 186));
    height:100vh;
    width:100%;
    background-color: #ffffff;
    display: flex;
}

.root1{
    height:80vh;
    width:140vh;
    margin:auto;
    margin-top:10vh;
    background-color: #ffffff;
    /* background-color: aliceblue; */
    /* background-image: linear-gradient(to right,rgb(99, 165, 246),rgb(107, 250, 186)); */
    display:flex;
    flex-direction: row;
    border-radius: 16px;
}

.dashboard{
    height: 100%;
    width: 100%;
    background-color: white;
}