body{
    /* background-image: linear-gradient(to right,rgb(99, 165, 246),rgb(107, 250, 186)); */
    
}


.montserrat_font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin:0;
  padding:0;
}

